#navi {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 10px;
	background-color: rgba(206,206,206,.8);
	border-radius: 25px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:darkgrey;
color:white;
}

.nav-pills>li>a {
	color:white;
}

.nav-pills>li>a:hover {
	color:#337ab7;
}

#navi #pills {
	margin-left: 3%;
}

#con {
	background-color: rgba(206,206,206,.8);
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	border-radius: 25px;
	min-height: 800px;
}

#title {
	color:#ffffff;
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 2px 2px black;
}

#myBack {
	background-color: #337ab7 ;
	background-position: absolute;
}

#carousel-example-generic {
	max-width: 100%;
	overflow: hidden;
	max-height: 350px;
	min-height: 150px;
/*	border-radius: 25px;*/
	border:solid;
	border-color: black;
}

#news {
	max-width: 100%;
	border:solid;
	border-color: black;
	border-radius: 15px;
}

.thumbnail {
	background:transparent;
	border:none;
}

.thumbnail>img {
	box-shadow: 4px 4px 2px #888888;
}

#tttest {
	text-align:center;
}

#thmb {
	padding-top: 25px;
}